@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: var(--primary-color);
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    a {
      color: var(--primary-color-lighter);
    }
  }
}
