@import "../../../../assets/styles/variables";

.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 15px;

  .misc-errors {
    background-color: $errorColor;
    color: $lightColor;
    padding: 8px 10px;
    border-radius: $borderRadius;
  }
}

.footer {
  text-align: center;
  margin-top: 15px;
}
